@font-face{
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
}
/*
mp_indigo: #57008B;
mp_blue: #0053E2;
mp_darkgrey: #707070;
mp_yellow: #FFBF00;
mp_lightgrey: #00000029;
mp_lightpurple: #F6F3FD;
*/

*{
    margin: 0;
    padding: 0;
    
}

body{
    background: linear-gradient(172deg, rgba(36,0,34,0.3808411214953271) 0%, rgba(106,9,121,0.5677570093457944) 27%, rgba(0,180,255,0.7663551401869159) 100%), url(images/mountains.jpg);
    background-size: cover;
    max-width: auto;
    height: 1080px;
    font-family: 'Montserrat', sans-serif;
}
/* CSS FOR THE NAV */
nav{
    display: flex;
    flex-direction: row;
    float: right;
    padding: 1.5vw;
    letter-spacing: 2px;
}

ul li{
    list-style: none;
    padding: 1.5vw;
    color: white;
    font-size: 1em;
    font-weight: 600;
    line-height: .1vw;
}

ul{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

#donate{
    padding: 1vw;
    background-color: #0053E2;
    color: White;
    font-size: 1em;
    width: 110px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    transition: 1s ease-in-out;

}

#donate:hover{
    background-color: #57008B;
}